<div class="panel panel-primary">
  <div class="panel-heading">
    <h3 class="panel-title">Last Price</h3>
  </div>
  <div class="panel-body">
    <p>$<%= last_price %> per BTC</p>
  </div>
</div>

<div class="panel panel-primary">
  <div class="panel-heading">
    <h3 class="panel-title">Bid Price</h3>
  </div>
  <div class="panel-body">
    <p>$<%= bid_price %> per BTC</p>
  </div>
</div>

<div class="panel panel-primary">
  <div class="panel-heading">
    <h3 class="panel-title">Ask Price</h3>
  </div>
  <div class="panel-body">
    <p>$<%= ask_price %> per BTC</p>
  </div>
</div>

<div class="panel panel-primary">
  <div class="panel-heading">
    <h3 class="panel-title">Spread</h3>
  </div>
  <div class="panel-body">
    <p>$<%= spread %> per BTC</p>
  </div>
</div>

<!-- <div>
	<p>Last Price: $<%= last_price %> per BTC</p>
	<p>Bid Price: $<%= bid_price %> per BTC</p>
	<p>Ask Price: $<%= ask_price %> per BTC</p>
	<p>Spread: $<%= spread %></p><br>
</div> -->
